@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Color */

body.ds .white.background {
    background-color: rgba(28, 28, 28, 0.4) !important;
}

body {
    background: url("https://kawata.pw/static/assets/background/bg-dark.png");
}

.ui.vertical.menu {
    background: #0e0e0e7d;
}

.ui.menu .dropdown.item .menu{
    background: url("/static/assets/background/bg-gray.png");
}

.ui.modal>.content {
    background: #0e0e0e;
}

.ui.table {
    background: #00000000;
}

#userinfo {
    padding: 1.1rem;
    margin-left: 1.05rem;
}

.ui.table thead th {
    background: #0c0c0c;
}

.ui.table tr td {
    background: #101010c4;
}

.ui.table tfoot th {
    background: #0c0c0c;
}

.ui.filsdepute {
    margin-left:auto!important;
    margin-right:auto!important;
    width:1127px;
    background: #10101040;
    padding:1em;
}

.ui.menu {
    background: #0c0c0c;
}

#jumbotron {
    position:relative;
    height:auto;
    overflow:auto;
    background: rgba(28, 28, 28, 0.4)
}

.ui.search>.results {
    background: #0e0e0e;
    border: none;
    box-shadow: 0 0 10px 8px #1b1b1b;
}

.ui.card {
    background: #131313;
    box-shadow: 0 0 20px 7px black;
}

/* Color Independant */

p {
    font-family: 'Noto Sans', 'Helvetica', 'Arial';
}

.active.item {
    font-family: 'Noto Sans', 'Helvetica', 'Arial';
    font-weight: 400;
}

.item {
    font-family: 'Noto Sans', 'Helvetica', 'Arial';
    font-weight: 400;
}

#deletewarning {
    color: orange;
    font-size: 1.1rem;
}

 #deletewarning2 {
    color: red;
    font-size: 1.1rem;
}

.user.avatar {
    border-radius: 50%;
}

.huge.heading {
    background: none;
    height: 50%;
}

.huge.heading h1 {
    padding: 1.0rem;
    font-family: 'Noto Sans', 'Helvetica', 'Arial';
    font-size: 40px;
}

.ui.attached.segment {
    border: none;
}

.ui.attached.menu:not(.tabular) {
    border: none;
}

.ui.table {
    border: none;
}

#badges {
    margin: 5px;
}

#username {
    float: left;
}

#badgescol {
    float: left;
}

#userdropdown {
    width: 20rem;
}

#welcome {
    width: 95%;
    text-align: left;
    padding-top: 1.1rem;
}

i.gay.icon {
 color:#FF0000;
 animation: gaycolorRotate 3s linear 0s infinite;
}

@keyframes gaycolorRotate {
  from {
    color: #d04b36;
  }
  20% {
    color: #e36511;
  }
  40% {
    color: #ffba00;
  }
  60% {
    color: #00b180;
  }
  80% {
    color: #147aab;
  }
   100% {
   color: #675997;
  }
}

@font-face {
	font-family: 'aAntaraDistance';
	src: 
		local('a Antara Distance'),
		local('a-Antara-Distance'),
		url('fonts/aAntaraDistance.otf')
		format('opentype');
	src: 
		local('a Antara Distance'),
		local('a-Antara-Distance'),
		url('fonts/aAntaraDistance.ttf')
		format('truetype');
}

.user.og {
 font-family: 'aAntaraDistance';
 background:url("https://media3.giphy.com/media/MDvuDF6NcR2VO/source.gif");
 color: rgba(0,240,0,.01);
 display:inline-block;
 background-clip: text;
 font-size: 1.25em;
 text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}	

.ui.search>.results img {
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.highlight {
    font-weight: 700;
    text-transform: capitalize;
}

.onlineusers {
    color: #DD5F03;
}

/* Buttons */

.btn-hover {
    width: 150px;
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover:focus {
    outline: none;
}
.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.welcome-kawata {
        text-shadow:0 1px 8px rgba(0,0,0,.75);
        font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        font-size:5em;
        position:relative
}

.welcome-bio {
    text-shadow:0 1px 8px rgba(0,0,0,.75);
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size:18px;
    font-weight:lighter;
    font-style:italic
}

.gameplay-above {
    position:absolute;
    font-family:aller regular,sans-serif;
    text-align:center;
    width:100%;
    bottom:0;
    line-height:normal;
    top:33%;
    margin-bottom:auto
    ;margin-top:auto
}

.hifumi {
    transform:translateZ(0);
    position:absolute;
    left:0;
    right:0;
    top:50px;
    margin-right:auto!important;
    margin-left:auto!important;
    height:600px;
    width:calc(100% - 100px);
    max-width:900px;
    background-size:contain;
    background-position:center;
    background-image:url(/static/images/hifumi.png);
    background-repeat:no-repeat!important;
    transition:all 1s;
    filter:brightness(.6)
}

@media (max-width:991px) {
    .disappearplease {
        display:none!important
}

.gameplay-above {
    top:38%
}
}

@media(max-width:596px) {
    .hifumi {
        display:none
}

.welcome-kawata {
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size:3em
}

.welcome-bio {
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size:16px
}
}

.ui.segment.penis-block {
    padding:0!important;
    margin:0!important;
    border-radius:0!important
}

.gameplay-video {
    position:absolute;
    left:0;top:0
}
