@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Payback';
  src: 
      local('Payback'),
      local('Payback'),
      url('fonts/Payback.ttf')
      format('truetype');
}

@font-face {
  font-family: 'PalmBeach';
  src: 
      local('PalmBeach'),
      local('PalmBeach'),
      url('fonts/PalmBeach.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Moonstar';
  src: 
      local('Moonstar'),
      local('Moonstar'),
      url('fonts/Moonstar.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Spaceage';
  src: 
      local('Spaceage'),
      local('Spaceage'),
      url('fonts/Spaceage.ttf')
      format('truetype');
}

/* Color */
.user {
  color:#FFFFFF;
  display:inline-block;
}

.user.loki {
  border:none;
  margin:calc(2rem - .14285em) 0 1rem;
  padding:0;
  font-family: 'aAntaraDistance';
  font-size: 1.28em;
  font-weight:700;
  line-height:1.2857em;
  text-transform:none;
  background:url("https://media.giphy.com/media/YqhIK6Gbor6CLeloBq/giphy.gif");
  color: rgba(0,240,0,.2);
  display:inline-block;
  background-clip: text;
  -webkit-background-clip: text;
}

.user.donor {
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background:url("http://resources.guild-hosting.net/201604011348/themes/core/images/tag_fx/sparkle_yellow.gif");
    color:#FFFF00;
    display:inline-block;
}

.user.dev {
  border:none;
  margin:calc(2rem - .14285em) 0 1rem;
  padding:0;
  font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight:700;
  line-height:1.2857em;
  text-transform:none;
  background:url("https://media.giphy.com/media/YqhIK6Gbor6CLeloBq/giphy.gif");
  color: rgba(0,240,0,.2);
  display:inline-block;
  background-clip: text;
  -webkit-background-clip: text;
}
 
.user.admin {
 border:none;
 margin:calc(2rem - .14285em) 0 1rem;
 padding:0;
 font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
 font-weight:700;
 line-height:1.2857em;
 text-transform:none;
 background:url("https://cdn.lowgif.com/full/1e6cf8b9e5434f3d-glitter-sparkle-valee1215-valee1215-glitter-sparkle-animated.gif");
 color:#FF0000;
 display:inline-block;
 animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

.profile-tag {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    background-size: cover;
    font-size: 13px;
    margin-top: 12px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
    padding-bottom: 4px;
    border-radius: 10px;
}


   
.ui.image.avat.bordered {
    border-radius: 20px;
    border: 2px solid;
    border-color: hsl(var(--base), 80%, 80%);
 }

.tag {
    font-size: 1.28rem
}
    
