@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Payback';
  src: 
      local('Payback'),
      local('Payback'),
      url('fonts/Payback.ttf')
      format('truetype');
}

@font-face {
  font-family: 'PalmBeach';
  src: 
      local('PalmBeach'),
      local('PalmBeach'),
      url('fonts/PalmBeach.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Moonstar';
  src: 
      local('Moonstar'),
      local('Moonstar'),
      url('fonts/Moonstar.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Spaceage';
  src: 
      local('Spaceage'),
      local('Spaceage'),
      url('fonts/Spaceage.ttf')
      format('truetype');
}

/* Color */
.user {
  color:#FFFFFF;
  display:inline-block;
}

.profile-tag {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    background-size: cover;
    font-size: 13px;
    margin-top: 12px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
    padding-bottom: 4px;
    border-radius: 10px;
}


   
.ui.image.avat.bordered {
    border-radius: 20px;
    border: 2px solid;
    border-color: hsl(var(--base), 80%, 80%);
 }

.tag {
    font-size: 1.28rem
}
    
