{{/*###
Handler=/settings/discord
TitleBar=Discord donor
KyutGrill=settings2.jpg
Include=menu.html
AdditionalJS=https://cdnjs.cloudflare.com/ajax/libs/jquery-minicolors/2.2.4/jquery.minicolors.min.js
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui stackable grid">
		{{ template "settingsSidebar" . }}
		<div class="twelve wide column">
			<div class="ui segment">
				{{ if not (has .Context.User.Privileges 4) }}
				{{ template "donor_locked" . }}
				{{ else }}
				{{ $q := qb "SELECT discordid, IFNULL(name, '') AS name, IFNULL(colour, '') AS colour FROM discord_roles WHERE userid = ? LIMIT 1" .Context.User.ID }}
				{{ if $q.discordid }}
				<p>
					{{ .T "Your discord account has been linked to this Ripple account. <b>Welcome to the donors club and thank you for supporting us!</b> You have now access to the #donators text and voice channels on our official Discord server! You can also set a custom role name and username colour and change your nickname on Discord." | html }}
				</p>
				<form action="/settings/discord" method="post" class="little top margin ui form">
					{{ csrfGenerate .Context.User.ID }}
					<div class="ui field">
						<label>{{ .T "Custom role name" }}</a></label>
						<input type="text" name="name" value="{{ $q.name }}" required>
					</div>
					<div class="ui field">
						<label>{{ .T "Colour" }}</a></label>
						<input type="text" value="#{{ $q.colour }}" id="colorpicker" name="colour" required
							autocomplete="off">
					</div>
					<div class="ui divider"></div>
					<div style="text-align: right;">
						{{ ieForm .Gin }}
						<div class="ui buttons">
							<a href='/settings/discord/unlink?{{ csrfURL .Context.User.ID }}'
								class="ui left labeled red icon button">
								<i class="undo icon"></i>
								Unlink Discord account
							</a>
							<button type="submit" class="ui right labeled blue icon button">
								<i class="save icon"></i>
								Save
							</button>
						</div>
					</div>
				</form>
				{{ else }}
				<p><b>{{ .T "Donors get special privileges on our Discord server too!" }}</b></p>
				<p>
					{{ .T "Discord is a chatroom with text and voice channels, bots and lots of other cool features. You can <b>download Discord for free <a href=\"http://discord.gg/\" target=\"_blank\">here</a></b> and you can <b>join our official Discord server <a href=\"%s\" target=\"_blank\">here</a></b>." (config "DiscordServer") | html }}
				</p>
				<p>{{ .T "Here's what you get if you link your Discord account:" }}</p>
				<ul class="ui list">
					<li>{{ .T "Access to /nick command, to change your Discord nickname" }}</li>
					<li>{{ .T "Access to #donators text and voice channels" }}</li>
					<li>{{ .T "Username on donors list" }}</li>
					<li>{{ .T "Custom role with custom username" }}</li>
				</ul>
				<p>{{ .T "To get these perks, first of all <a href=\"%s\" target=\"_blank\">join our Discord server</a>, then click this fancy button:" (config "DiscordServer") | html }}
				</p>
				<p class="centered">
					<a tabindex="1" class="ui red labeled icon button" href="{{ authCodeURL .Context.User.ID }}"><i
							class="heart icon"></i> {{ .T "Get Discord donor privileges" }}</a>
				</p>
				{{ end }}
				{{ end }}
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-minicolors/2.2.4/jquery.minicolors.min.css">
{{ end }}