{{/*###
TitleBar=Password
KyutGrill=settings2.jpg
Include=menu.html
MinPrivileges=2
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui stackable grid">
		{{ template "settingsSidebar" . }}
		<div class="twelve wide column">
			<div class="ui segment">
				<form class="ui form" method="post">
					<div class="field">
						<label>Email</label>
						<input type="email" name="email" value="{{ or .FormData.email .RequestInfo.email }}" required>
					</div>
					<div class="field">
						<label>New password (leave blank if you don't want to change it)</label>
						<input type="password" name="newpassword" value="{{ .FormData.newpassword }}">
					</div>
					<div class="field">
						<label>Current password</label>
						<input type="password" name="currentpassword" required>
					</div>
					{{ ieForm .Gin }}
					<div style="text-align: right">
						<button type="submit" class="ui blue button">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ end }}
