{{/*###
Handler=/settings
TitleBar=Settings
KyutGrill=settings2.jpg
Include=menu.html
MinPrivileges=2
AdditionalJS=/static/jquery.lsxemojipicker.js
*/}}
{{ define "tpl" }}
{{ $ds := band (.ClientFlags) 1 }}
<div class="ui container">
	<div class="ui stackable grid">
		{{ template "settingsSidebar" . }}
		<div class="twelve wide column">
			<div class="ui segment">
				<form id="settings-form" class="ui form" method="post">
					{{ $d := .Get "users/self/settings" }}
					<h3 class="ui header">{{ .T "General" }}</h3>
					<div class="field">
						<label><a href="https://support.ripple.moe">{{ .T "Username" }}</a></label>
						<input type="text" value="{{ .Context.User.Username }}" disabled>
					</div>
					<div class="field">
						<label>
							<a href="/settings/password">{{ .T "Email address" }}</a>
						</label>
						<input type="email" value="{{ $d.email }}" placeholder="{{ .T "Email address" }}" required
							disabled>
					</div>
					<div class="field">
						<label>{{ .T "Alternative username (cannot be used for login)" }}</label>
						<input type="text" name="username_aka" value="{{ $d.username_aka }}"
							placeholder="{{ .T "Also known as..." }}">
					</div>
					<div class="field" id="favourite-mode">
						<label>{{ .T "Favourite mode" }}</label>
						<select class="ui dropdown" name="favourite_mode" data-cast="int">
							{{ range $k, $v := modes }}
							<option value="{{ $k }}" {{ if eq (int $d.favourite_mode) $k }}selected{{ end }}>
								{{ $v }}</a>
								{{ end }}
						</select>
					</div>
					<div class="field" id="favourite-relax">
						<label>{{ .T "Favourite relax mode" }}</label>
						<select class="ui dropdown {{ if eq (int $d.favourite_mode) 3 }}disabled{{ end }}"
							name="favourite_relax" data-cast="int">
							<option value="0" {{ if eq (int $d.favourite_relax) 0 }}selected{{ end }}>
								{{ .T "Classic" }}</a>
							<option value="1" {{ if eq (int $d.favourite_relax) 1 }}selected{{ end }}>
								{{ .T "Relax" }}</a>
						</select>
					</div>
					<h3 class="ui header">
						{{ .T "Custom badge" }}
						<div class="ui {{ if $ds }}blue{{ else }}violet{{ end }} horizontal mini label">
							{{ .T "Donor" }}
						</div>
					</h3>
					{{ if not (has .Context.User.Privileges 4) }}
					{{ template "donor_locked" . }}
					{{ else }}
					<div class="ui warning message">
						{{ .T "<b>Do not use offensive badges and do not pretend to be someone else with your badge.</b> If you abuse the badges system, you'll be silenced and you won't be able to edit your custom badge anymore." | html}}
					</div>
					<div class="ui info message">
						{{ .T "<b>We have changed our custom badge system.</b> You can now use emojis as icons! Check it out!" | html}}
					</div>
					<div class="ui toggle checkbox">
						<input type="checkbox" name="custom_badge.show" {{ if $d.custom_badge.show }}checked{{ end }}>
						<label>{{ .T "Enable" }}</label>
					</div>
					<div id="custom-badge-fields" {{ if not $d.custom_badge.show }}style="display: none" {{ end }}
						class="little top margin">
						<div class="ui two column center aligned grid" style="margin-top: 0">
							<div class="column">
								<div>
									<div class="badge">
										<div class="twemoji">{{ $d.custom_badge.icon }}</div>
									</div>
									<b id="badge-name"><i>{{ $d.custom_badge.name}}</i></b>
								</div>
							</div>
							<div class="column">
								<p><button id="memoji" class="ui button fluid">{{ .T "Pick an emoji" }}</button></p>
								<p><input type="text" name="custom_badge.icon" hidden
										value="{{ $d.custom_badge.icon }}"></p>
								<p><input type="text" name="custom_badge.name"
										placeholder="{{ .T "Dinosaur, oompa-loompa, cool guy..." }}"
										value="{{ $d.custom_badge.name }}"></p>
							</div>
						</div>
					</div>
					{{ end }}
					<h3 class="ui header">{{ .T "Playstyle" }}</h3>
					<div class="ui three column grid" id="checkbox-grid">
						{{ $ := . }}
						{{ range $k, $v := sanestyles }}
						<div class="column">
							{{ $checked := band (int $d.play_style) (shift 1 $k) }}
							<div class="ui checkbox">
								<input type="checkbox" data-sv="{{ shift 1 $k }}" {{ if $checked }}checked{{ end }}>
								<label>{{ $.T $v }}</label>
							</div>
						</div>
						{{ end }}
					</div>
					<h3 class="ui header">{{ .T "Preferences" }}</h3>
					{{ $ds := band .ClientFlags 1 }}
					<div class="ui checkbox">
						<input type="checkbox" {{ if $ds }}checked{{ end }} id="dark-site">
						<label>{{ .T "Dark site" }}</label>
					</div>
					<div class="ui divider"></div>
					<div style="text-align: right">
						<button type="submit" class="ui blue button">{{ .T "Save" }}</button>
					</div>
					{{ ieForm .Gin }}
				</form>
			</div>
		</div>
	</div>
</div>
{{ end }}