{{ define "tpl" }}
<div class="ui container">
	 <div class="ui segment">
		 Your account has been created, however it still <b>needs to be verified!</b>
		 Please log in into <b><u>osu! (the game)</u></b> using your account. If you're having
		 trouble, <a href="/doc/1">follow this guide</a>.
	 </div>
	 <div class="ui centered error  message">
		 <b class="big text">Do not let anyone except yourself log into your Ripple account!</b><br>
		 Get on our <a href="{{ config "DiscordServer" }}">Discord server's</a> #help channel instead (after following the steps on this page) so that we can help you out if you have trouble connecting.
	 </div>
	 <div class="ui segment">
		 <h1 class="ui heading"><a href="/doc/1">The Guide&trade;,</a> tl;dr version</h1>
		 <ol class="ui list">
			 <li><a href="https://mu.nyodev.xyz/upd.php?id=18"><b>Download the server switcher</b></a></li>
			 <li>Extract it, disable your antivirus, execute it <b>as administrator</b></li>
			 <li>Click on <b>install certificate</b>, then <b>Yes</b></li>
			 <li>Make sure the switcher says you're playing on <b>Ripple</b> server, if not click <b>On/Off</b></li>
			 <li>If it says something about read-only mode, go to <code>C:\Windows\System32\Drivers\etc</code>, open the hosts' file Properties and make sure it's not set to "Read only".</li>
		 </ol>
		 <p>
			 If you're still having trouble, then again, get on our <a href="{{ config "DiscordServer" }}">Discord server's</a> #help channel.
			 To have a better chance to be answered, say "strawberry" anywhere in your messages so that we know you have actually read this.
		 </p>
	 </div>
	 <div class="ui center aligned segment">
		 <h1 class="ui heading">Waiting for verification</h1>
		 <i class="circle notched huge loading icon"></i>
	 </div>
</div>
{{ end }}
