{{ define "tpl" }}
<div class="ui container">
	<div class="ui segment">
		<img src="/static/assets/check.png" class="center">
		<h3 align="center">{{ .T "Thank you, your account has been successfully created!" }}</h3>
		<br>
		<p align="center">{{ .T "Your account is currently pending verification. In order to activate your account, you have to switch into our server, then log into osu! using your Kawata account." }}</p>
	</div>
	<div class="ui centered error  message">
		<b class='big text'>{{ .T "Do not let anyone except yourself log into your Kawata account!" }}</b><br> 
	</div>
	<div class="ui segment">
		<h1 class="ui heading">{{ .T "Wondering how to connect?" }}</h1>
		<ol class="ui list">

			<p>{{ .T "Worry not, it's very simple!" }}</p>

			<li><a href="https://kawata.pw/static/kawata-server-switcher.exe"><b>{{ .T "Download our server switcher" }}</b></a></li>
			<li><a href="https://kawata.pw/static/UltimateOsuServerSwitcher.exe"><b>{{ .T "Optionally download the Ultimate Osu Server Switcher" }}</b></a></li>
			<li>{{ .T "Turn off your antivirus, then execute <i>kawata-server-switcher.exe</i> <b>as administrator</b> (don't worry, this isn't any malware!)" | html }}</li>
			<li>{{ .T "Click on <b>'Connect to Kawata'</b>" | html }}</li>
			<li>{{ .T "Connect to the server in-game using the <b>name and password of the account you've just created" |html }}</b></li>
		</ol>
		<p>
			{{ .T "Having trouble? Please have a look at our <a href='https://kawata.pw/doc/5' target='blank'>FAQ</a>!" | html }}
		</p>
	</div>
	<div class="ui center aligned segment">
		<h1 class="ui heading">{{ .T "Waiting for verification" }}</h1>
		<i class="circle notched huge loading icon"></i>
	</div>
</div>
{{ end }}
