@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#userinfo {
    padding: 1.1rem;
    margin-left: 1.05rem;
}

.ui.menu {
    box-shadow: none;
    border: none;
}

.ui.search>.results {
    border: none;
}

p {
    font-family: 'Noto Sans', 'Helvetica', 'Arial';
}

.active.item {
    font-family: 'Noto Sans', 'Helvetica', 'Arial';
    font-weight: 400;
}

.item {
    font-family: 'Noto Sans', 'Helvetica', 'Arial';
    font-weight: 400;
}

.user.avatar {
    border-radius: 50%;
}

.huge.heading {
    background: none;
    height: 50%;
}

.huge.heading h1 {
    padding: 1.0rem;
    font-family: 'Noto Sans', 'Helvetica', 'Arial';
    font-size: 40px;
}

.ui.attached.segment {
    border: none;
}

.ui.attached.menu:not(.tabular) {
    border: none;
}

.ui.table {
    border: none;
}

#userdropdown {
    width: 20rem;
}

.ui.search>.results img {
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.highlight {
    font-weight: 700;
    text-transform: capitalize;
}

.footer {
    background: transparent;
    text-align: center;
}

.margined.container {
	margin: 3rem;
}




.welcome-kawata {
    text-shadow:0 1px 8px rgba(0,0,0,.75);
    color:rgba(255,255,255,.93)!important;
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size:5em;
    position:relative
}

.welcome-bio {
text-shadow:0 1px 8px rgba(0,0,0,.75);
color:rgba(255,255,255,.93)!important;
font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
font-size:18px;
font-weight:lighter;
font-style:italic
}

.gameplay-above {
position:absolute;
font-family:aller regular,sans-serif;
text-align:center;
width:100%;
bottom:0;
line-height:normal;
top:33%;
margin-bottom:auto
;margin-top:auto
}

.hifumi {
transform:translateZ(0);
position:absolute;
left:0;
right:0;
top:50px;
margin-right:auto!important;
margin-left:auto!important;
height:600px;
width:calc(100% - 100px);
max-width:900px;
background-size:contain;
background-position:center;
background-image:url(/static/assets/hifumi.png);
background-repeat:no-repeat!important;
transition:all 1s;
filter:brightness(.6)
}

@media (max-width:991px) {
.disappearplease {
    display:none!important
}

.gameplay-above {
top:38%
}
}

@media(max-width:596px) {
.hifumi {
    display:none
}

.welcome-kawata {
font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
font-size:3em
}

.welcome-bio {
font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
font-size:16px
}
}

.ui.segment.penis-block {
    padding:0!important;
    margin:0!important;
    border-radius:0!important
}

.gameplay-video {
position:absolute;
left:0;top:0
}

.onlineplayers {
    font-size: 1.1rem;
    font-weight: 500;
    z-index: 3;
    padding: 2px 10px;
    color: #fff;
    border-radius: 20px;
    background: rgba(0,0,0,.6);
    margin-left: auto;
    margin-right: auto;
    max-width: 275px;
}
