{{ define "tpl" }}
<div class="ui container">
	{{ if .Session.Get "2fa_must_validate" }}
		<div class="ui centered grid">
			<div class="ten wide column">
				<div class="ui raised segments">
					<div class="ui segment">
						Hey, {{ .Context.User.Username }}. Before proceding any further on Ripple, we require you to use the message you just received on telegram to log in to your account.
					</div>
					<div class="ui segment">
						<div class="ui form">
							<div class="field">
								<label>Telegram code <a href="/2fa_gateway/clear">(send again?)</a></label>
								<input type="text" placeholder="e.g. AWYXZ13Y" id="telegram-code">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{ else }}
		<div class="ui segment">
			<pre>
				LVstLS0tLS0tPis8XT4tLlstLS0+KysrKzxdPisuK1stLS0+KzxdPi4rWy0+KysrPF0+Li0tWy0tLT4rPF0+LS5bLT4rKys8XT4rLisrKysrKysrKysrKysuLVstPisrKysrPF0+LS5bLT4rKzxdPisuPi1bLS0tPis8XT4tLS4tLVstPisrKys8XT4tLisrKysrKy4uLVstPisrKys8XT4uK1stPisrKzxdPisuKysrKysuLS0tLS0tLisrKysrKysrLi0tWy0+KysrPF0+LS4+KysrKysrKysrKy4rWy0+KysrKys8XT4rLisrKysrLi4uLi4uKysrKysrKy4=
			</pre>
		</div>
	{{ end }}
</div>
{{ end }}

