{{/*###
Handler=/about
TitleBar=About
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui centered segments">
		<div class="ui segment">
			<img src="/static/logos/logo-pink.svg">
			<h1 class="ui no bottom margin header">
				Welcome to Ripple.
			</h1>
			<div class="about subtitle">Ripple is a private osu! server.<br>
			There are many like it, but this one is ours.</div>
		</div>
		<div class="ui segment">
			<img src="http://y.zxq.co/sfdnai.png">
			<div class="about title twemoji">Don't you like 🍆?</div>
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				We have leaderboards.
			</h1>
			<img src="http://y.zxq.co/nfztui.png">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				Online user listing.
			</h1>
			<img src="http://y.zxq.co/voxure.png">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				Free osu!direct.
			</h1>
			<img src="http://y.zxq.co/laojiz.png">
		</div>
		<div class="ui segment">
			<h1 class="ui no bottom margin header">
				Global leaderboards.
			</h1>
			<p class="about subtitle">and PP for osu!standard and osu!mania</p>
			<img src="http://y.zxq.co/ibdauq.png">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				Ranking queue for unranked beatmaps.
			</h1>
			<img src="http://y.zxq.co/wcmvuw.png">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				Spectator.
			</h1>
			<img src="http://y.zxq.co/qcqbvp.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				Multiplayer.
			</h1>
			<img src="http://y.zxq.co/fimvsw.png">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				FokaBot, our chat bot
			</h1>
			<p class="about subtitle">with plenty of functions for just about anything, <a href="/doc/4">check it out!</a></p>
			<img src="http://y.zxq.co/raimqt.png">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				And a lot more to come!
			</h1>
			<p class="about title">
				Ripple is the result of the hard work of
				two Italian developers, who got tired about the whole osu!
				ecosystem, and also because they wanted to play with a few
				banned friends.
			</p>
			<p class="about title twemoji">
				It has now evolved into the largest available osu! private
				server, with more than 10,000 registered users.
				<a href="/register">Signing up</a> on Ripple won't result in
				getting your account on osu! restricted, so what are you waiting for?!
				Come join us! 😉
			</p>
			<p class="about subtitle">
				In case you want to make sure we're not doing shady stuff with
				your data, you can also check the <a href="https://git.zxq.co/ripple/ripple">source code</a>
				Ripple is running on.
			</p>
		</div>
	</div>
</div>
{{ end }}