{{ define "base" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">		

		<title>{{ if .TitleBar }}{{ .TitleBar }} - {{ end }}Ripple</title>
		
		<link rel="stylesheet" type="text/css" href="static/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="static/ripple.css">
	</head>
	<body>
		<div class="ui full height main wrapper">
			{{ template "navbar" . }}
			<div class="huge heading dropped"
				style="background-image: url('{{ if .KyutGrill }}/static/headers/{{ .KyutGrill }}{{ else }}/static/headers/default.jpg{{ end }}');'">
				<h1>{{ .TitleBar }}</h1>
			</div>
		
			<div class="h-container">
				<div class="ui margined container" id="messages-container">
				{{ if .Messages }}
						{{ range $i, $v := .Messages }}
							<div class="ui {{ $v.Type }} message">
								<i class="close icon"></i>
								{{ $v.Content }}
							</div>
						{{ end }}
				{{ end }}
				</div>
				{{ template "tpl" . }}
			</div>
	
		</div>
	
		<div class="footer">
			© 2015-2016 The Ripple Team. <a href="/developers">Developers</a> | <a href="https://github.com/osuripple">GitHub</a> | <a href="https://twitter.com/_ripple">@_ripple</a>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
		<script src="static/semantic.min.js"></script>
		<script src="static/ripple.js"></script>
		{{/* If we got some more scripts to print, print'em */}}
		{{ if .Scripts }}
			{{ range .Scripts }}
				<script src="{{ . }}"></script>
			{{ end }}
		{{ end }}
	</body>
</html>
{{ end }}
