{{/*###
Handler=/friends
TitleBar=Friends
MinPrivileges=2
KyutGrill=friends.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments" id="mwrp">
		<div class="ui segment">
			On this page you can see all of your friends, and unfriend them as you see fit.
		</div>
		<div class="ui segment">
			{{ $page := or (atoint (.Gin.Query "p")) 1 }}
			<div class="ui four column stackable grid">
				<div class="ui column" v-for="friend in friends">
					<ripple-friend
						v-bind:is-mutual="friend.is_mutual"
						v-bind:user="friend.id"
						v-bind:username="friend.username"
						v-bind:privileges="friend.privileges"></ripple-friend>
				</div>
			</div>
		</div>
		<pagination-menu v-bind:after="friends.length >= 40" v-if="friends"></pagination-menu>
	</div>
</div>
<script>
var vueData = {{ .Vue "friends?p=%d&l=40&sort=username,asc" $page }};
</script>
{{ end }}