{{/*###
Handler=/help
TitleBar=Contact support
KyutGrill=help.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui segment">
			<p>
				{{ .T "If you need to get in touch with our support team (our Community Managers), you will need to send an email to our support email address. You can compose an email to it by clicking the button at the bottom of this page. <b>Please read the following</b> though, as it is important." | html }}
			</p>
			<p>
				{{ .T "The support email <b>is not meant for technical support</b>. If you need technical support, then please join our <a href='%s'>Discord Server</a>, and ask your question on the <b>#help channel</b>. You should also join the Discord server and ask a CM if you have any informal inquiry that you may have. If you need to contact a specific staff member, you can contact them by clicking the envelope icon under their name in the <a href='/team'>Team page</a>." .Conf.DiscordServer | html }}
			</p> 
			<p>
				{{ .T "Instead, if you need any of the following:" }}
				<ul>
					<li><b>{{ .T "Username change" }}</b></li>
					<li>{{ .T "Appeal your ban/restriction" }}</li>
					<li>{{ .T "Anything else that strictly deals with your account and is not related in any way to a technical issue of yours." }}</li>
				</ul>
				{{ .T "Then the support mail is the way to go." }}
			</p>
			<p>
				{{ .T "When contacting the support mail, please make sure to <b>send the email from the email address you signed up on Ripple with</b>." | html }}
			</p>
			<p>
				{{ .T "Last but not least, <b>the support email is not meant for filing bug reports</b>. If you need to report a bug, then please just ask one of our developers on Discord. If it's a security bug, for instance XSS or SQL injection, then please contact <a href='mailto:howl@ripple.moe'>Howl</a> or <a href='mailto:nyo@ripple.moe'>Nyo</a>." | html }}
			</p>
		</div>
		<div class="ui right aligned segment">
			<a class="ui right labeled blue icon button" href="mailto:support@ripple.moe">
				<i class="right arrow icon"></i>
				{{ .T "I have read and understood everything on this page." }}
			</a>
		</div>
	</div>
</div>
{{ end }}
