{{/*###
Handler=/leaderboard
TitleBar=Leaderboard
KyutGrill=leaderboard2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	{{ $favModeRaw := .Get "users/self/favourite_mode" }}
	{{ $favMode := _or (atoi (.Gin.Query "mode")) $favModeRaw.favourite_mode (float 0) }}
	<script>
		var favouriteMode = {{ $favMode }};
		var page = {{ .Gin.Query "p" | atoint | atLeastOne }};
	</script>
	<div class="ui four item menu" id="mode-menu">
		{{ range $k, $v := modes }}
			<a class="{{ favMode $favMode $k }}item" data-mode="{{ $k }}" href="/leaderboard?mode={{ $k }}">{{ $v }}</a>
		{{ end }}
	</div>
	<table class="ui table">
		<thead>
			{{ template "simplepag" 5 }}
			<tr>
				<th>{{ .T "Rank" }} </th>
				<th>{{ .T "Player" }} </th>
				<th>{{ .T "PP/Score" }} </th>
				<th>{{ .T "Accuracy" }} </th>
				<th>{{ .T "Playcount" }} </th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			{{ template "simplepag" 5 }}
		</tfoot>
	</table>
</div>
{{ end }}
