{{/*###
Handler=/login
TitleBar=Log in
KyutGrill=login2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	{{/* Not logged in block */}}
	{{ if .Context.User.Username }}
		<div class="ui segment">
			You are already logged in!
		</div>
	{{ else }}
		<div class="tiny container">
			<div class="ui raised segments">
				<div class="ui segment">
					<form id="login-form" class="ui form" method="post" action="/login">
						<div class="field">
							<label>Username (or email)</label>
							<input type="text" name="username" placeholder="Username" value="{{ .FormData.username }}" required>
						</div>
						<div class="field">
							<label>Password <a href="/pwreset">(forgot?)</a></label>
							<input type="password" name="password" placeholder="Password" value="{{ .FormData.password }}" required>
						</div>
						<input type="hidden" name="redir" value="{{ .Gin.Query "redir" }}">
					</form>
				</div>
				<div class="ui right aligned segment">
					<button class="ui primary button" type="submit" form="login-form">Submit</button>
				</div>
			</div>
		</div>
	{{ end }}
</div>
{{ end }}
