{{ define "navbar" }}
<div class="ui secondary dropped fixed-height menu">
	<div class="ui container">
		<div class="item">
			<b class="ripple-title"><a href="/">Ripple</a></b>
		</div>
		<a class="{{ if eq .Path "/" }}active {{ end }}item" href="/">
			Home
		</a>
		<a class="item">
			Messages
		</a>
		<a class="item">
			Friends
		</a>
		<div class="right menu">
			{{ if .Context.User.Username }}
				<div class="item">
					<div class="ui icon input">
						<input type="text" placeholder="Looking for someone?">
						<i class="search link icon"></i>
					</div>
				</div>
				<a class="item">
					{{ .Context.User.Username }}
				</a>
			{{ else }}
				<a class="{{ if eq .Path "/login" }}active {{ end }}item" href="/login">
					Log in
				</a>
				<a class="{{ if eq .Path "/register" }}active {{ end }}item" href="/register">
					Register
				</a>
			{{ end }}
		</div>
	</div>
</div>
{{ end }}