{{ define "navbar" }}
{{ $isRAP   := and (hasAdmin .Context.User.Privileges) (isRAP .Path) }}
{{ $isAdmin := hasAdmin .Context.User.Privileges }}
<div class="ui secondary dropped fixed-height stackable menu{{ if $isRAP }} inverted{{ end }}">
	<div class="ui container">
		<div class="item">
			<b class="ripple-title"><a href="/">Ripple</a></b>
		</div>
		{{ if $isRAP }}
			{{/*
			Note:
				RAP navbar will be completely different from standard navbar,
				meaning it will have the buttons and all the stuff that are in
				the current RAP's sidebar.
			*/}}
		{{ else }}
			{{ navbarItem .Path "Home" "/" }}
			{{ if $isAdmin }}{{ navbarItem .Path "<b>RAP</b>" "/admin" }}{{ end }}
		{{ end }}
		<div class="right menu">
			{{ if .Context.User.Username }}
				{{ if not $isRAP }}
					<div class="item">
						<div class="ui icon input">
							<input type="text" placeholder="Looking for someone?">
							<i class="search link icon"></i>
						</div>
					</div>
				{{ end }}
				<div class="ui dropdown item">
					<img class="ui avatar image" src="{{ avatars }}/{{ .Context.User.ID }}">
					<span>{{ .Context.User.Username }}</span>
					<div class="menu">
						{{ navbarItem .Path "Profile" (printf "/u/%d" .Context.User.ID) }}
						{{ navbarItem .Path "Settings" "/settings" }}
						{{ navbarItem .Path "Avatar" "/settings/avatar" }}
						{{ navbarItem .Path "Log out" "/logout" }}
					</div>
				</div>
			{{ else }}
				{{ navbarItem .Path "Log in" "/login" }}
				{{ navbarItem .Path "Register" "/register" }}
			{{ end }}
		</div>
	</div>
</div>
{{ end }}