{{ define "navbar" }}
<div class="ui secondary dropped fixed-height stackable menu">
	<div class="ui container">
		<div class="item">
			<b class="ripple-title"><a href="/">Ripple</a></b>
		</div>
		{{ navbarItem .Path "Home" "/"}}
		<div class="right menu">
			{{ if .Context.User.Username }}
				<div class="item">
					<div class="ui icon input">
						<input type="text" placeholder="Looking for someone?">
						<i class="search link icon"></i>
					</div>
				</div>
				<div class="ui dropdown item">
					<img class="ui avatar image" src="{{ avatars }}/{{ .Context.User.ID }}">
					<span>{{ .Context.User.Username }}</span>
					<div class="menu">
						{{ navbarItem .Path "Profile" (printf "/u/%d" .Context.User.ID) }}
						{{ navbarItem .Path "Settings" "/settings" }}
						{{ navbarItem .Path "Avatar" "/settings/avatar" }}
						{{ navbarItem .Path "Log out" "/logout" }}
					</div>
				</div>
			{{ else }}
				{{ navbarItem .Path "Log in" "/login" }}
				{{ navbarItem .Path "Register" "/register" }}
			{{ end }}
		</div>
	</div>
</div>
{{ end }}