{{/*###
Handler=/team
TitleBar=Team
Include=user_group.html
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h3>{{ .T "This is a list of the wonderful people who keep Kawata up and running and deal with our <b>amazing</b> community." | html }}</h3>
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Owners" }}</h1>
			<p>
				{{ .T "They created Kawata, they are the ones who run the server and manage many things." }}<br>
			</p>
			{{ template "userGroup" (slice . (.Get "badges/members?id=%d" 38)) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Developers" }}</h1>
			<p>
				{{ .T "Developers add new features to the server, squash bugs, keep the server up and running and take care of its maintenance. Without them, the server wouldn't be running at all!" }}<br>
			</p>
			{{ template "userGroup" (slice . (.Get "badges/members?id=%d" 2)) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Administrators and Community Managers" }}</h1>
			<p>
				{{ .T "Our Community Managers are here to take care of our social networks. Our Administrators manage the chat, and the game, making sure the <a href='/doc/rules' target='_blank'></a>rules are respected, they are in charge of the Moderator." | html }}
			</p>
			<h1 class="ui heading">{{ .T "Administrators" }}</h1>
			{{ template "userGroup" (slice . (.Get "badges/members?id=%d" 39)) }}
			<h1 class="ui heading">{{ .T "Community Managers" }}</h1>
			{{ template "userGroup" (slice . (.Get "badges/members?id=%d" 4)) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Gestion and Support Team" }}</h1>
			<p>
				{{ .T "Our Gestion Team manages the staff team with the help of the Administration team, they are also part of the Support team. Our Support Team manage the chat, and the game, making sure the <a href='/doc/rules' target='_blank'></a>rules are respected, and take action if necessary." | html }}
			</p>
			<h1 class="ui heading">{{ .T "Gestion Team" }}</h1>
			{{ template "userGroup" (slice . (.Get "badges/members?id=%d" 60)) }}
			<h1 class="ui heading">{{ .T "Support Team" }}</h1>
			{{ template "userGroup" (slice . (.Get "badges/members?id=%d" 30)) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "BATs" }}</h1>
			<p>
				{{ .T "BATs play beatmaps in the ranking queue and decide whether they are good enough to be ranked or not." }}
			</p>
			{{ template "userGroup" (slice . (.Get "badges/members?id=%d" 5)) }}
		</div>
	</div>
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Special thanks" }}</h1>
			<p>{{ .T "Here's a list of people who helped with Kawata." }}</p>
		</div>
		<div class="ui segment">
			<ul class="ui list">
				<li>
					{{ .T "<b>Franc[e]sco/lolisamurai</b>, for <a href='https://github.com/Francesco149/oppai-ng'>oppai-ng</a>, used as standard pp calculator." | html }}<br>
					oppai is licensed under GPL v3. Our implementation can be found <a href="https://github.com/kawatapw/lets/src/master/pp/rippoppai.py">here</a>.
				</li>
				<li>
					{{ .T "<b>Tom94</b>, for <a href='https://github.com/ppy/osu-performance'>osu-performance</a>, used as a reference for our mania pp calculator." | html }}<br>
					osu-performance is licensed under AGPL v3. Our implementation can be found <a href="https://github.com/kawatapw/lets/src/master/pp/wifipiano2.py">here</a>.
				</li>
				<li>
					{{ .T "<b>Sunpy</b>, for <a href='https://github.com/osufx/catch-the-pp'>catch-the-pp</a>, used as catch the beat pp calculator." | html }}<br>
					catch-the-pp is licensed under GPL v3. Our implementation can be found <a href="https://github.com/kawatapw/catch-the-pp">here</a>.
				</li>
				<li>{{ .T "<b><a id='everyone' class='clickable'>All our donors</a></b> and Discord Boosters who are supporting Kawata." | html }}</li>
				<li>{{ .T "Everybody playing on our server!" | html }}</li>
			</ul>
		</div>
	</div>
	{{ $ := . }}
	{{ .T "Looking for how you should contact our team? The best way to contact us is to send an email to the following address: <a href='mailto:accounts@kawata.pw'>accounts@kawata.pw</a>. If you wish to contact a specfic team member, we recommend you try to message them on our <a href='https://discord.gg/4CzsqkK'>Discord server</a> or check their userpage." | html }}
	<div class="ui modal">
		<div class="header"><h2 class="ui header">{{ .T "They told me these are very cool people." }}</h2></div>
		{{ with .Get "users?sort=donor_expire,desc&l=52" }}
			<div class="content">
				<div class="ui four column grid">
					{{ range .users }}
						<div class="column">
							<h4 class="ui image header">
								<img src="{{ avatarURL $.Context (int .id) }}" class="ui micro rounded image">
								<div class="content">
									<a href="/u/{{ .id }}">{{ .username }}</a>
								</div>
							</h4>
						</div>
					{{ end }}
				</div>
				<!-- Probably most shit coded part of Hanayo -->
				<br>
				<div class="centered">
					<b>{{ $.T "And more..." }}</b><br><br>
					<b>{{ $.T "Do you want to be in this list?" }}</b><br>
					<a href="/donate"><b>{{ $.T "Support us with a donation!" }}</b></a><br>
					<i>{{ $.T "(You get other cool perks too)" }}</i>
				</div>
			</div>
		{{ end }}
	</div>
</div>
{{ end }}
