{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h3>This is a list of the wonderful people who keep Ripple up and running and deal with its community.</h3>
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">Community Managers</h1>
			<p>
				Community Managers deal with bans, silences, name changes and pretty much everything that has to do with the community.<br>
				They are take care of our Discord server and reply to emails sent to <a href="mailto:support@ripple.moe">support@ripple.moe</a>. Community Managers have a red name in the in-game chat.
			</p>
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">Developers</h1>
			<p>
				Developers add new features to the server, squash bugs, keep the server up and running and take care of its maintenance.<br>
				They don't do anything related to the community. Community Managers have a blue name in the in-game chat.
			</p>
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">BATs</h1>
			<p>
				BATs play beatmaps in the ranking queue and decide whether they are good enough to be ranked or not.
			</p>
		</div>
	</div>
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h1 class="ui heading">Special thanks</h1>
			<p>Here's a list of people who helped with Ripple.</p>
		</div>
		<div class="ui segment">
			<ul class="ui list">
				<li>Test</li>
			</ul>
		</div>
	</div>
</div>
{{ end }}
