{{/*###
Handler=/team
TitleBar=Team
Include=user_group.html
KyutGrill=team2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h3>This is a list of the wonderful people who keep Kawata up and running and deal with our <b>amazing</b> community.</h3>
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">Community Managers</h1>
			<p>
				Community Managers deal with bans, silences, name changes and pretty much everything that has to do with the community.
				They take care of our Discord server and reply to emails sent to the support services.
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 4) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">Developers</h1>
			<p>
				Developers add new features to the server, squash bugs, keep the server up and running and take care of its maintenance. Without them, the server wouldn't be running at all!<br>
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 2) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">Moderators</h1>
			<p>
				Our moderators manage the chat, and the game, making sure the <a href="https://kawata.pw/doc/rules" target="_blank"></a>rules are respected, and take action if necessary.
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 30) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">BATs</h1>
			<p>
				BATs play beatmaps in the ranking queue and decide whether they are good enough to be ranked or not.
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 5) }}
		</div>
	</div>
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h1 class="ui heading">Special thanks</h1>
			<p>Here's a list of people who helped with Kawata.</p>
		</div>
		<div class="ui segment">
			<ul class="ui list">
				<li>
					<b>Franc[e]sco/lolisamurai</b>, for <a href='https://github.com/Francesco149/oppai-ng'>oppai-ng</a>, used as standard pp calculator.<br>
					oppai is licensed under GPL v3.
				</li>
				<li>
					<b>Tom94</b>, for <a href='https://github.com/ppy/osu-performance'>osu-performance</a>, used as a reference for our mania pp calculator.<br>
					osu-performance is licensed under AGPL v3. Our implementation can be found <a href="https://github.com/kawatapw/lets/src/master/pp/wifipiano2.py">here</a>.
				</li>
				<li>
					<b>Sunpy</b>, for <a href='https://github.com/osufx/catch-the-pp'>catch-the-pp</a>, used as catch the beat pp calculator, as well as the secret submodules<br>
					catch-the-pp is licensed under GPL v3.
				</li>
				<li>Everybody playing on our server!</li>
			</ul>
		</div>
	</div>
	{{ $ := . }}
	Looking for how you should contact our team? The best way to contact us is to send an email to the following address: <a href='mailto:accounts@kawata.pw'>accounts@kawata.pw</a>, and let us know the team member you would like to contact.
</div>
{{ end }}
