{{/*###
Handler=/dev/tokens
TitleBar=Your API tokens
KyutGrill=dev.jpg
MinPrivileges=2
Include=menu.html
HugeHeadingRight=true
*/}}
{{ define "tpl" }}
{{ $ := . }}
<div class="ui container">
	<div class="ui stackable grid">
		{{ template "devSidebar" . }}
		<div class="twelve wide column">
			<div class="ui segment">
				From this page you can create, modify and delete your personal <a href="https://docs.ripple.moe/docs/api/appendix#authorization">API tokens</a>.<br>
				The Ripple API is the system through which developers can create applications to interact with Ripple. If you're asked to fill out an API token from this page, be wary and only actually create the token if you really trust the owner of the application.
				<div class="ui divider"></div>
				{{ $csrf := csrfGenerate .Context.User.ID }}
				{{ with .Get "tokens" }}
					{{ with .tokens }}
						<table class="ui fixed table">
							<thead>
								<tr>
									<th>Privileges</th>
									<th>Description</th>
									<th>Last used</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{{ range . }}
									<tr>
										<td>{{ .privileges }}</td>
										<td>{{ with .description }}{{ . }}{{ else }}<i>(None)</i>{{ end }}</td>
										<td>{{ time .last_updated }}</td>
										<td>
											<form action="/dev/tokens/delete" method="POST">
												<input type="hidden" name="id" value="{{ .id }}">
												{{ $csrf }}
												{{ ieForm $.Gin }}
												<div class="ui buttons">
													<a class="ui blue icon button" href="/dev/tokens/edit?id={{ .id }}">
														<i class="edit icon"></i>
													</a>
													<button class="ui red icon button" type="submit">
														<i class="remove icon"></i>
													</button>
												</div>
											</form>
										</td>
									</tr>
								{{ end }}
							</tbody>
						</table>
						<div class="ui divider"></div>
					{{ end }}
				{{ end }}
				<h2 class="ui header" style="margin-top:0">Create new token</h2>
				<form action="/dev/tokens/create" method="POST" class="ui form">
					<div class="field">
						<label>Privileges</label>
						<input type="number" value="0">
					</div>
					<div class="field">
						<label>Description</label>
						<input type="text" value="" placeholder="For what are you making this token?">
					</div>
					<button class="ui blue button" type="submit">Create</button>
					{{ $csrf }}
					{{ ieForm $.Gin }}
				</form>
			</div>
		</div>
	</div>
</div>
{{ end }}
